@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #E4E4E7;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist', -apple-system, BlinkMacSystemFont, "SF Pro Text", sans-serif;
}
